@font-face {
    font-family: 'Talina';
    src: url('./Font/talina-demo/Talina\ DEMO.otf') format('opentype');
}

/* Apply font */
body {
    font-family: 'Talina', sans-serif;
    margin: 0;
    background-color: rgb(255, 204, 0);
    
}

h2{
    color:#EB2B2B
}

button{
    border-radius: 20px;
    background-color: rgb(255, 204, 0);
    font-family: 'Talina';
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;/* It Moves The Button To Slightly Left*/
    margin-bottom: 10px;
    cursor: pointer;
}

.Burger{
    display: block;
    max-width: 100%;
    box-shadow: 12px 12px 0px rgb(0, 0, 0);
    border: 4px solid rgb(0, 0, 0);
}
/* Container for icons */
.icon-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
}

/* Video icons */
.icon-video {
    width: 60px;
    height: 60px;
    cursor: pointer;
    object-fit: cover;
}

/* Popup background */
.login-popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Login box */
.login-box {
    background: #fff;
    width: 100%;
    max-width: 350px;
    padding: 50px;
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 15px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
    font-size: 18px;
}

.Daily-Zone{
    width: 90px;
    height: 90px;
    cursor: pointer;
    object-fit: cover;
}


